<div class="chat-main-top">
  <div class="right-container">
    <div class="current-chat">
      <%= @room.name %>
    </div>
  </div>
  <div class="left-container">
    <div class="chat-delete">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="chat-main-main">
  <%= render partial: "message", collection: @messages %>
</div>
<%= form_with model: [@room, @message], class: "form-container", local: true do |f| %>
  <div class="text_field-container">
    <%= f.text_field :content, class: "message_field", placeholder: "type a message" %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: "hidden" %>
    </label>
  </div>
  <div class="btn-container">
    <%= f.submit "送信", class: "btn-send" %>
  </div>
<% end %>